body {
    position: relative;
    width: 100vw;
    text-align: center;
    background-color: #1b1b1b;
    color: #fffff7;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

#band_name_container {
    position: fixed;
    height: 55px;
    width: 100vw;
    line-height: 50px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 2;
    border: 2px #1b1b1b solid;
    background-color: #424242;
    font-family: 'Oswald', sans-serif;
}

#band_name{
  font-size: 1.2rem;
  font-family: 'Limelight', 'cursive';
}

#band_name_container:hover {
    text-shadow: 1px 1px rgba(27, 27, 27, 0.8);
}

.decoration{
    display: none;
    width: 10vw;
}

#nav_tray {
    position: fixed;
    top: 55px;
    height: 30px;
    width: 100vw;
    box-sizing: border-box;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(27, 27, 27, 0.8);
    z-index:2;
}

#toggle_nav_tray {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    z-index:3;
    float: left;
    cursor: pointer;
    padding-top: 8px;
}

#toggle_nav_tray img:hover {
    color: #fff9c4;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #fffff7;
}

a:hover {
    color: #fff9c4;
    transform: scale(1.1);
}

.hero-image {
    width: 100vw;
    max-width: 1200px;
    opacity: 0.7;
    border: 2px #1b1b1b solid;
}

#audio_player_container {
    height: 300px;
    line-height: 300px;
}

#next-show {
    height: 50px;
    line-height: 50px;
}

.divider-heading {
    height: 40px;
    line-height: 40px;
    font-size: 0.9rem;
    margin-bottom: 15px;
    background-color: #424242;
    font-family: 'Limelight', cursive;
}

.headshot {
    border: 3px #fffff7 solid;
    margin-top: 25px;
    opacity: 0.7
}

.bio-text {
    width: 60vw;
    margin: 0 auto;
}

/* Player styles */
.audio-player {
    margin: 0 auto;
    width: 60vw !important
}

.audio-player-seeker{
    color: white !important;
}

.audio-player-volume{
    display:none;
}

#play:hover, #rewind:hover, #forward:hover {
    transform: scale(1.1)!important;
}

/* Photos Styles */
#photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-gap: 15px;
    align-items: center;
    margin-left: 40px;
    margin-top: 80px;
}

.photos-image {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 70%;
}
@import url('https://fonts.googleapis.com/css?family=Limelight|Oswald:300');

@media only screen and (min-width: 500px) {
    .decoration{
        display: inline-block;
    }
    #band_name{
        font-size: 1.9rem;
      }
      .divider-heading {
        height: 40px;
        line-height: 40px;
        font-size: 1.4rem;
    }

}