body {
    position: relative;
    background-color: #1b1b1b;
    color: #fffff7;
    text-align: center;
    width: 100vw;
    margin: 0px;
    font-family: 'Montserrat', sans-serif
}

.page-header {
    height: 55px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #424242;
    width: 100vw;
    line-height: 55px;
    padding-left: 10px;
    padding-right: 20px;
    border: 2px #1b1b1b solid;
    font-family: 'Montserrat', sans-serif
}

#band_name{
  font-size: 1.9em;
  float: left;
  font-family: 'Limelight', 'cursive';
}

.header-links-container {
    float: right;
    width: 40vw;
    min-width: 200px;
}

a {
    text-decoration: none;
    color: #fffff7;
}

a.nav-link {
    margin-left: 10px;
}

a:hover {
    color: #fff9c4;
}

.hero-image {
    /* display: cover; */
    width: 100vw;
    max-width: 1200px;
    /* height: 90vh; */
    opacity: 0.7;
    border: 2px #1b1b1b solid;
}

#audio_player_container {
    height: 300px;
    line-height: 300px;
}

#next-show {
    height: 50px;
    line-height: 50px;
}

.divider-heading {
    height: 40px;
    background-color: #424242;
    line-height: 40px;
    margin-bottom: 15px;
    font-family: 'Limelight', cursive
}

.headshot {
    border: 3px #fffff7 solid;
    margin-top: 25px;
    opacity: 0.7
}

.bio-text {
    width: 60vw;
    margin: 0 auto;
}

/* Player styles */
.audio-player {
    margin: 0 auto;
    width: 80vw !important;
    /* can style with custom component props  */
}

.audio-player-seeker{
    color: white !important;
}

.audio-player-volume{
    display:none;
}

/* Photos Styles */
#photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-gap: 15px;
    align-items: center;
    margin-left: 40px;
    margin-top: 80px;
}

.photos-image {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 70%;
}
@import url('https://fonts.googleapis.com/css?family=Limelight|Montserrat');